body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #efefed;
}
.container-narrow > hr {
  margin: 20px 10px;
  border-top: 1px solid #fcfcfc;
  border-bottom: none;
}

#header h1 {
  font-size: 5em;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0,0,0,.3);
}
#header { position: relative; }
#header .github {
  position: absolute;
  top: 15px;
  right: 15px;
}

#examplesCarousel img {
  border-radius: 5px;
}
#examplesCarousel .carousel-caption {
  border-radius: 5px;
}

#download > div {
  border-radius: 4px;
  background: #fcfcf9;
}
#download .btn {
  margin-bottom: 4px;
}
