* { margin: 0; padding: 0; }

html, body {
  height: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans;
}
a { color: white; }
a:hover { text-decoration: none; }
dt { font-weight: bold; }
dl { padding: 16px 0; }
dd { padding-left: 20px; }

.bg-quarter {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
  min-height: 312px;
  min-width: 500px;
  background: #ddd;
}
#top, #bottom { min-width: 1000px; height: 50%; }

#top-left { background: url('images/vaio_hard_edge.png'); }
#top-left .content { background: url('images/vaio_hard_edge_dark.png'); }
#top-left, #top-left .content { background-position: 100% 100%; }

#top-right { background: url('images/woven.png'); }
#top-right .content { background: url('images/woven_dark.png'); }
#top-right, #top-right .content { background-position: 0% 100%; }
.content-quarter.windows { background: url('images/woven_dark_rot90.png') 0% 100%; }
.content-quarter.osx { background: url('images/woven_dark_rot90.png') 100% 0%; }

#bottom-left { background: url('images/diagonal_striped_brick.png'); }
#bottom-left .content { background: url('images/diagonal_striped_brick_dark.png'); }
#bottom-left, #bottom-left .content { background-position: 100% 0%; }

#bottom-right { background: url('images/arab_tile.png'); }
#bottom-right .content { background: url('images/arab_tile_dark.png'); }
#bottom-right, #bottom-right .content { background-position: 0% 0%; }

.content {
  height: 288px;
  width: 480px;
  position: absolute;
  background: #fff;
  padding: 12px 10px;
}
#downloads.content {
  height: 312px;
  width: 500px;
  padding: 0;
}
#description { bottom: 0; right: 0; }
#downloads { bottom: 0; left: 0; }
#installation { top: 0; right: 0; }
#usage { top: 0; left: 0; }

/* Description */
#description h1 {
  text-indent: -99000px;
  background: url('images/wpmaker-title.png') no-repeat 10px 0;
  height: 91px;
  width: 480px;
  margin-top: 9px
}
#description .description {
  width: 326px;
  float: left;
  text-align: justify;
}

#description .examples {
  float: left;
  margin-left: 10px;
  width: 144px;
}
#description .examples ul { list-style: none; }
#description .examples a { display: block; height: 90px; }
#description .examples .ex1 { margin-bottom: 10px; }

/* Downloads */
.content-quarter {
  height: 50%;
  width: 50%;
  float: left;
  position: relative;
}
.download-button {
  height: 84px;
  position: relative;
  margin: 36px auto;
}
.download-button .size {
  position: absolute;
  bottom: 3px;
  right: 5px;
  text-indent: 0;
  color: #000;
  font-size: 11px;
}
.download-link {
  display: block;
  height: 84px;
  text-indent: -99000px;
}
.source .download-button {
  width: 204px;
  background: url('images/dl_source.png');
}
.windows .download-button {
  width: 178px;
  background: url('images/dl_windows.png');
}
.osx .download-button {
  width: 168px;
  background: url('images/dl_osx.png');
}
.linux .download-button {
  width: 163px;
  background: url('images/dl_linux.png');
}

#usage ul {
  padding-left: 25px;
}

.footer-left,
.footer-right {
  position: absolute;
  bottom: 10px;
}
.footer-left { right: 6px; }
.footer-right { left: 6px; }
